body{
    background-image: url(arsenal-invincibles.jpg);
    background-size: cover;
    margin: 0px;
}

h1{
    display: flex;
    width: 300px;
    text-align: center;
    /* text-align: center; */
    justify-content: center;
    font-family: 'Bangers', cursive;
    font-weight: 300;
    color: rgba(255, 225, 53,1);
    border-bottom: 2px solid white  ;
}

a:hover{
    color: whitesmoke;
    text-decoration: underline;
}

img{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    height: 320px;
    width: 320 px;
    display: inline-block;
    transition: all 1s;
}

img:hover{
    transform: scale(1.2);
    margin: 10px;
}